/* ---All common css start-- */
*{
    margin: 0;
    padding: 0;
    outline: 0;
}

a{
    text-decoration: none;
    display: inline-block;
}
.clr{
    clear: both;
}
.mr{
    margin-right: 0 !important;
}
.mb{
    margin-bottom: 0 !important;
}

ul,ol{
    list-style-type: none;
}
h1,h2,h3,h4,h5,h6,p{
    margin: 0;
    padding: 0;
    line-height: 0.8;
}
.full_wrapper{
    width: 100%;
}
.wrapper{
    width: 1170px;
    margin: 0 auto;
}

/*  banner part start  */
.banner{
    padding-top: 0px;
    padding-bottom: 118px;
    background:url(../images/banner.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: relative;
}
.logo{
    width: 200px;
    float: left;
    padding-top: 37px;
}
.head{
    padding-bottom: 147px;
}
.menu{
    width: 600px;
    float: left;
    text-align: right;
    padding-top: 45px;
}
.menu ul li{
    display: inline-block;
    margin-left: 30px;
    position: relative;

}
.menu ul li a{
    width: auto;
    color: #000000;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 16px;
    font-weight: 600;
    transition: all linear .4s;
    -webkit-transition: all linear .4s;
    -moz-transition: all linear .4s;
    -ms-transition: all linear .4s;
    -o-transition: all linear .4s;
}
.hover_img{
    text-align: center;
}

.hover_img img{
  position: absolute;
  top: 25px;
  left: 0;
  height: 0px;
  width: 0%;
  opacity: 0;
  transition: all linear .4s;
  -webkit-transition: all linear .4s;
  -moz-transition: all linear .4s;
  -ms-transition: all linear .4s;
  -o-transition: all linear .4s;
}
.menu ul li a:hover{
    color: #d50a51;
}
.menu ul li a:hover{
    color: #d50a51;
}
.menu ul li:hover .hover_img img{
  opacity: 1;
  width: 100%;
  height: 20PX;
}


.login_button{
    width: 370px;
    float: left;
    padding-top: 30px;
    text-align: right;
}
.login_button a{
    background: #d50a51;
    padding-right: 20px;
    padding-left: 20px;
    line-height: 49px;
    border-radius: 100px;
    -webkit-border-radius: 100px;
    -moz-border-radius: 100px;
    -ms-border-radius: 100px;
    -o-border-radius: 100px;
}
.login_button i{
    color: #ffffff;
    font-size: 20px;
    padding-right: 10px;
}
.login_button h3{
    color: #ffffff;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 20px;
    font-weight: 600;
    display: inline;  
}
.login_button a:hover{
    box-shadow:0px 0px 15px #f6614e ;
}

/* banner text part */
.banner_text{
    width: 570px;
    float: right;
    text-align: center;
}
.banner_text img{
    padding-bottom: 30px;
}

.banner_text p{
    color: #444444;
    line-height: 26px;
    font-size: 16px;
    font-family: 'Open Sans', sans-serif;
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 63px;
    font-weight: 400;
}
.button a{
    color: #d50a51;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 20px;
    font-weight: 600;
    display: inline-block;
    line-height: 45px;
    padding-left: 19px;
    padding-right: 19px;
    border-radius: 100px;
    -webkit-border-radius: ;
    -moz-border-radius: ;
    -ms-border-radius: ;
    -o-border-radius: ;
    border: 1px solid #d50a51;
    transition: all linear .6s;
    -webkit-transition: all linear .6s;
    -moz-transition: all linear .6s;
    -ms-transition: all linear .6s;
    -o-transition: all linear .6s;
}
.button a:hover{
    background: #d50a51;
    color: #ffffff;
}
.bike_couple{
    position: absolute;
    left: 0%;
    bottom: 0;
    transform: translate(-100%);
    -webkit-transform: translate(-100%);
    -moz-transform: translate(-100%);
    -ms-transform: translate(-100%);
    -o-transform: translate(-100%);
    line-height: 0;
    transition: all linear .8s;
    -webkit-transition: all linear .8s;
    -moz-transition: all linear .8s;
    -ms-transition: all linear .8s;
    -o-transition: all linear .8s;
}
.banner:hover .bike_couple{
    left: 28%;
    transform: translate(-50%);
    -webkit-transform: translate(-50%);
    -moz-transform: translate(-50%);
    -ms-transform: translate(-50%);
    -o-transform: translate(-50%);
}

/* ------History of valentine start here--- */
.history{
    padding-top: 100px;
    padding-bottom: 201px;
    background: #ffffff;
    position: relative;
}
.history_text{
    width: 570px;
    float: right;
    text-align: left;
}
.history_text img{
    padding-bottom: 60px;
}

.history_text p{
    color: #444444;
    line-height: 26px;
    font-size: 16px;
    font-family: 'Open Sans', sans-serif;
    padding-bottom:36px;
    font-weight: 400;
}
.history_text h3{
    color: #444444;
    line-height: 26px;
    font-size: 16px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
}
.history_couple{
    position: absolute;
    left: 28%;
    bottom: 92px;
    transform: translateX(-50%)scale(.6);
    -webkit-transform: translateX(-50%)scale(.6);
    -moz-transform: translateX(-50%)scale(.6);
    -ms-transform: translateX(-50%)scale(.6);
    -o-transform: translateX(-50%)scale(.6);
    line-height: 0;
    transition: all linear .8s;
    -webkit-transition: all linear .8s;
    -moz-transition: all linear .8s;
    -ms-transition: all linear .8s;
    -o-transition: all linear .8s;
}
.history:hover .history_couple{
    
    transform: translateX(-50%)scale(1);
    -webkit-transform: translateX(-50%)scale(1);
    -moz-transform: translateX(-50%)scale(1);
    -ms-transform: translateX(-50%)scale(1);
    -o-transform: translateX(-50%)scale(1);
}

/* =======gift part start==== */
.gift{
    padding-top: 55px;
    padding-bottom: 60px;
    background: url(../images/gift-banner.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

}
.gift_proposal{
    position: relative;

}
.gift_text{
    float: left;
    margin-left: 50px;
}

.double_button{
    margin-top: 28px;
}
.double_button .button{
    float: left;
    margin-right: 20px;
}
.gift_box{
    position: absolute;
    bottom: -110px;
    right: -150px;
    float: left;
    transition: all linear .9s;
    -webkit-transition: all linear .9s;
    -moz-transition: all linear .9s;
    -ms-transition: all linear .9s;
    -o-transition: all linear .9s;
    opacity: .2;
}
.gift:hover .gift_box{
   opacity: 1;
   right: 0px;
}

/* ==========ticket part start======== */
.ticket{
    padding-top: 114px;
    padding-bottom: 100px;
    background: #ffffff;
}
.tick_texts{
    float: right;
}
.tick_texts .history_text{
    text-align: right;
}
.tick_texts .double_button{
    float: right;
}
.ticket_pic{
    float: left;
    top: 10px;
    left: -85px;
    position: absolute;
    opacity: .2;
    transition: all linear .9s;
    -webkit-transition: all linear .9s;
    -moz-transition: all linear .9s;
    -ms-transition: all linear .9s;
    -o-transition: all linear .9s;
}

.ticket_pos{
    position: relative;
}
.ticket:hover .ticket_pic{
    opacity: 1;
}

/* =========Service part start======== */
.service{
    padding-top: 60px;
    padding-bottom: 50px;
    background: url(../images/offer-banner.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: center;
}
.service_text{
    width: 370px;
    margin-right: 30px;
    float: left;
}
.service_text img{
    padding-bottom: 20px;
}
.service_text p,h3{
    color: #444444;
    line-height: 26px;
    font-size: 16px;
    font-family: 'Open Sans', sans-serif;
    padding-bottom:36px;
    font-weight: 400;
}
.offer_item{
    width: 367px;
    float: left;
    margin-right: 30px;
    margin-bottom: 20px;
    transition: all linear .5s;
    -webkit-transition: all linear .5s;
    -moz-transition: all linear .5s;
    -ms-transition: all linear .5s;
    -o-transition: all linear .5s;
}
.o_item_title{
    padding-left: 30px;
    padding-top: 30px;
    line-height: 0;
}
.o_item_title h3{
    color: #d50a51;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 20px;
    font-weight: 600;
    display: inline;
    padding-left: 20px;
    line-height: 0;
}
.o_item_text p{
    padding-top: 20px;
    padding-right: 30px;
    padding-left: 30px;
    padding-bottom: 30px;
    color: #444444;
    line-height: 26px;
    font-size: 16px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
}

.offer_item:hover{
    background: #f1f1f1;
    box-shadow:0px 0px 7px #a09e9e;
    border-right: 3px solid #d50a51;
}

/* ==========shoot  part start====== */
.shoot{
    padding-top: 100px;
    padding-bottom: 100px;
    background: #ffffff;
}
.shoot_gal{
    float: left;
    margin-right: 30px;
    width: 770px;
}
.shoot_item{
    width: 370px;
    margin-right: 30px;
    margin-bottom: 30px;
    float: left;
    line-height: 0;
    position: relative;
}
.shoot_item img{
    width: 100%;
}

.shoot_overly{
    width: 100%;
    height: 0%;
    background: rgba(0, 0, 0, 0.801);
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    transition: all linear .4s;
    -webkit-transition: all linear .4s;
    -moz-transition: all linear .4s;
    -ms-transition: all linear .4s;
    -o-transition: all linear .4s;
}
.shoot_item:hover .shoot_overly{
    opacity: 1;
    height: 100%;

}

.overly_icons{
    padding-top: 15px;
    padding-bottom: 113px;
    text-align: right;
}
.overly_icons a{
    display: block;
    margin-bottom: 20px;
    margin-right: -10px;
    transition: all linear .4s;
    -webkit-transition: all linear .4s;
    -moz-transition: all linear .4s;
    -ms-transition: all linear .4s;
    -o-transition: all linear .4s;
}
.shoot_item:hover .overly_icons a{
    margin-right: 15px;

}
.overly_icons i{
    font-size: 17px;
    line-height: 40px;
    width: 40px;
    color: #ffffff;
    border: 1px solid #ffffff;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    text-align: center;
    transition: all linear .3s;
    -webkit-transition: all linear .3s;
    -moz-transition: all linear .3s;
    -ms-transition: all linear .3s;
    -o-transition: all linear .3s;
}
.overly_icons i:hover{
    background:#d50a51;
    border: 1px solid #d50a51;
}
.overly_text{
    text-align: center;
}
.overly_text h3{
    color: #ffffff;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 20px;
    font-weight: 600;
    padding-bottom: 15px;

}
.overly_text i{
    color: #ffffff;
    margin-right:5px ;
    font-size: 13px;
}

.overly_text p{
    display: inline-block;
    color: #ffffff;
    font-size: 13px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    margin-right: 14px;
}


.shoot_text{
    float: left;
}
.shoot_text .history_text{
    width: 370px;
}

/* ===========count down part start=========== */
.countdown{
    padding-top:95px;
    padding-bottom: 140px;
    background: url(../images/countdown.jpg);
    background-repeat: no-repeat;
    background-size:auto;
    background-position: center;
}

.count_item{
    width: 270px;
    margin-right: 30px;
    text-align: center;
    float: left;
}
.count_item h1{
    color: #d50a51;
    font-size: 42px;
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 700;

}
.count_item p{
    color: #444444;
    font-size: 32px;
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 400;

}

/* -- ==================Shokhi Sujon =============  */

.shokhisujon{
    padding-top: 140px;
    padding-bottom: 155px;
    background: #ffffff;
}

.shokhi{
    width: 570px;
    margin-right: 30px;
    float: left;
    background: #fffae2;
    position: relative;
}

.shokhi p{
    color: #444444;
    line-height: 26px;
    font-size: 16px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    padding-top: 45px;
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 20px;
}
.shokhi_pic{
    width: 100px;
    float: left;
    margin-right: 20px;
    margin-left: 30px;
    margin-bottom: 30px;
}
.shokhi_name{
    width: 420px;
    float: left;
}
.shokhi_name h3{
    color: #222222;
    font-size: 20px;
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 600;
    padding-top: 30px;
    padding-bottom: 10px;

}
.shokhi_name h6{
    color: #444444;
    font-size: 18px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
}
.love_up{
    position: absolute;
    top: -42px;
    left: -40px;
    opacity: 0;
    transition: all linear .5s;
    -webkit-transition: all linear .5s;
    -moz-transition: all linear .5s;
    -ms-transition: all linear .5s;
    -o-transition: all linear .5s;
}
.shokhi:hover .love_up{
    opacity: 1;
}
.sujon{
    width: 570px;
    float: left;
    background: #fffae2;
    position: relative;
}
.sujon p{
    color: #444444;
    line-height: 26px;
    font-size: 16px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    padding-top: 45px;
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 20px;
}
.sujon_pic{
    width: 100px;
    float: left;
    margin-right: 20px;
    margin-left: 30px;
    margin-bottom: 30px;
}
.sujon_name{
    width: 420px;
    float: left;
}
.sujon_name h3{
    color: #222222;
    font-size: 20px;
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 600;
    padding-top: 30px;
    padding-bottom: 10px;

}
.sujon_name h6{
    color: #444444;
    font-size: 18px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
}
.love_down{
    position: absolute;
    bottom: -44px;
    right: -40px;
    opacity: 0;
    transition: all linear .4s;
    -webkit-transition: all linear .4s;
    -moz-transition: all linear .4s;
    -ms-transition: all linear .4s;
    -o-transition: all linear .4s;
}
.sujon:hover .love_down{
    opacity: 1;
}
.slide_left{
    position: absolute;
    top: 50%;
    left: -80px;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
}
.slide_left:hover i{
    color: #ffffff;
    border: 2px solid #d50a51;
    background: #d50a51;
}
.slide_left i, .slide_right i{
    font-size: 30px;
    color: #d50a51;
    line-height: 40px;
    width: 40px;
    text-align: center;
    border: 2px solid #d50a51;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    transition: all linear .4s;
    -webkit-transition: all linear .4s;
    -moz-transition: all linear .4s;
    -ms-transition: all linear .4s;
    -o-transition: all linear .4s;
}
.slide_right{
    position: absolute;
    top: 50%;
    right: -80px;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
}
.slide_right:hover i{
    color: #ffffff;
    border: 2px solid #d50a51;
    background: #d50a51;
}

/* ============information part start======== */
.contact{
    padding-top: 85px;
    padding-bottom: 30px;
    background: url(../images/foot-banner.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.cntct_logo{
    width: 170px;
    margin: 0 auto;
    margin-bottom: 60px;
}
.cnt_item{
    text-align: center;
    float: left;
    width: 370px;
    margin-right: 30px;
    margin-bottom: 60px;
}
.cnt_icon{
    margin-left: 55px;
    float: left;
    width: 50px;
    background: #d50a51;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}
.cnt_icon i{
    font-size: 25px;
    color: #f1f1f1;
    line-height: 50px;
}

.cnt_text{
    width: 245px;
    margin-left: 20px;
    float: left;
    text-align: left;
}
.cnt_text h3{
    color: #444444;
    font-size: 16px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    padding-bottom: 0px;  
}
.follow{
    text-align: center;
}
.follow h3{
    color: #d50a51;
    font-size: 20px;
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 700;
    padding-bottom: 30px;
}
.follow a{
    text-align: center;
    width: 40px;
    border: 2px solid #d50a51;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    margin-right: 10px;
    color: #d50a51;
    line-height: 40px;
    font-size: 20px;
    transition: all linear .3s;
    -webkit-transition: all linear .3s;
    -moz-transition: all linear .3s;
    -ms-transition: all linear .3s;
    -o-transition: all linear .3s;
}
.follow a:hover{
    background: #d50a51;
    color: #ffffff;
}

.contact .wrapper{
    position: relative;
}

.newsletter{
    width: 1170px;
    background: #d50a51;
    position: absolute;
    padding-top: 30px;
    padding-bottom: 30px;
    top: -140px;
    left: 0;
    border-radius: 100px;
    -webkit-border-radius: 100px;
    -moz-border-radius: 100px;
    -ms-border-radius: 100px;
    -o-border-radius: 100px;
}
.plan{
    margin-left: 100px;
    width: 50px;
    margin-right: 10px;
    float: left;
}
.plan i{
    font-size: 50px;
    color: #ffffff;
}
.news_text{
    width: 310px;
    margin-right: 30px;
    float: left;
}
.news_text h3{
    color: #ffffff;
    font-size: 40px;
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 600;
    padding-bottom: 10px;
    padding-top: 5px;
    text-transform: uppercase;
}
.news_text p{
    color: #ffffff;
    font-size: 14px;
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 400;
}
.info_submit{
    margin-top: 10px;
    width: 538px;
    float: left;
    position: relative;
}
input{
    color: #ffffff;
    font-size: 13px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    background: #d50a51;
    line-height: 35px;
    width: 250px;
    padding-left: 15px;
    margin-right: 30px;
    border: 1px solid #ffffff;
}
::placeholder {
    font-style: italic;
    color:#ffffff;
}
.sub{
    width: 218px;
}
.sub_button{
    position: absolute;
    top: 0;
    right: 3px;
    text-align: center;
}
.sub_button a{
    width: 40px;
    line-height: 35px;
    color: #ffffff;
    font-size: 13px;
    border: 1px solid #ffffff;

}


/* ===========footer part start====== */
.foot{
    text-align: center;
    background: #fce1ed;
}
.foot p{
    line-height: 55px;
    color: #444444;
    font-size: 14px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
}
span{
    color: #d50a51;

}